{% extends 'base.html' %}

{% block content %}
<div class="card text-center mx-auto mt-5 mb-5" style="width: 300px;">
    <div class="card-header h5 text-white bg-secondary">Password Reset</div>
    <div class="card-body px-5">
        <h4><i class="fa fa-lock fa-4x"></i></h4>
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <div class="form-outline">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary w-100">Reset password</button>
            </form>
        </div>
        
    </div>
</div>

{% endblock %}