{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for product in products %}
        <div class="col-md-2 mt-4 my-2 mx-2 mb-4">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Price: ${{ product.price }}</p>
                    <!-- buttons -->
                    <form id="add-to-cart-form" method="post" action="{% url 'add_to_cart' product.id %}" data-product-id="{{ product.id }}">
                        {% csrf_token %}
                        {{ cart_product_form }}
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}